
<% if @article.errors.any? %>
<h2 style='color:red'>this errors stoped us from submeting the artical</h2>
<ul>
    <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <%end%>
</ul>
<%end%>
<%=form_for @article do |f| %>
<p>
<%= f.label :title %>
<br>
<%=f.text_field :title %>
</p>
<p>
<%= f.label :desc %>
<br>
<%=f.text_area :desc %>
</p> 
<p> 
<%= f.submit%>
</p>
<% end %>
